.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: 15px;
}

form div {
  padding-block: 4px;
}

.tier-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tier-info span {
  display: block;
  font-weight: 500;
}

ul {
  padding-top: 50px;
  list-style: none;
  width: 60%;
  margin: 0 auto;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  padding-block: 16px;
}

.display-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.display-info span {
  display: inline-block;
}

.total {
  padding-top: 36px;
  font-size: 2rem;
  font-weight: bold;
}
